table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 5px;
    text-align: left;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    .banner img {
        max-width: 100%;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input,
.form-container select {
    display: block;
    margin-bottom: 12px;
}

.add-transaction-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    border: none;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

.add-transaction-btn:hover {
    background-color: darkgreen;
}

.subtract-transaction-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

.subtract-transaction-btn:hover {
    background-color: darkred;
}



