<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Form</title>
</head>
<body>
    <h1>Transaction Form</h1>

    <form action="/transaction" method="post">
        <label>Amount:</label>
        <input type="number" id="amount" name="amount" required>

        <label>Category:</label>
        <input type="text" id="category" name="category" required>

        <label>Type of Category:</label>
        <input type="radio" id="income" name="typeOfTransaction" value="income" required>
        <label for="income">Income (+)</label>

        <input type="radio" id="expense" name="typeOfTransaction" value="expense" required>
        <label for="expense">Expense (-)</label>

        <button type="submit">Submit</button>
    </form>
</body>
</html>