<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

</head>
<body>
    <h1> Form - transaction</h1>
<form action="addTransaction" method="post">
    <label for="type-of-transaction"> Type of transaction: </label> <br/>
    <select name="typeOfTransaction">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
    </select>
    <br/>

    <label for="category"> Category: </label> <br/>
    <input type="text" name="category"/> <br/>

    <label for="value"> Value: </label> <br/>
    <input type="number" name="value"/> <br/>

    <label for="dateAdded"> Date: </label> <br/>
    <input type="date" name="dateAdded"/> <br/>

    <label for="account"> Account: </label> <br/>
    <input type="text" name="account"/> <br/>

    <label for="comments"> Comments: </label> <br/>
    <input type="text" name="comments"/> <br/>

<button type="submit">Submit</button>
</form>
</body>
</html>